@font-face {
  font-family: "FuturaMediumCTT";
  src: url("./assets/fonts/FuturaMediumC.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBookC";
  src: url("./assets/fonts/FuturaBookC.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaDemiC";
  src: url("./assets/fonts/FuturaDemiC.ttf") format("truetype");
}

@font-face {
  font-family: "YesevaOne";
  src: url("./assets/fonts/YesevaOne.ttf") format("truetype");
}

@font-face {
  font-family: "Proximanova";
  src: url("./assets/fonts/Proximanova.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #131313;
}

.header .wrapper {
  width: 100%;
  max-width: 1440px;
  height: 83px;
  padding: 23px 82px;
  margin: 0 auto;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
}

.header-logo__text {
  width: 100%;
  height: 14px;
  margin: 0;
  font-family: "FuturaDemiC", sans-serif;
  color: #e3b873;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar {
  width: 582px;
  height: 16px;
}

.navbar .navbar-list {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14px;
}

.navbar .navbar-list__link {
  height: 14px;
  text-decoration: none;
  font-family: "FuturaBookC";
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar .navbar-list__link:hover {
  color: #e3b873;
}

.navbar .navbar-list__link_current {
  color: #e3b873;
}

.navigation__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 330px;
}

.navigation__phone__number {
  margin-right: 45px;
  font-family: "FuturaDemiC", sans-serif;
  color: #e3b873;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  white-space: nowrap;
}

.navigation__phone__button {
  width: 161px;
  height: 37px;
  cursor: pointer;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "FuturaBookC", "Halvetica", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  background-color: #e3b873;
  border-radius: 2px;
  font-family: "FuturaDemiC", sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  outline: none;
}

button:hover,
button:focus {
  color: #131313;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 15px;
}

.hero {
  position: relative;
  background-color: #131313;
}

.hero .container {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__left-line {
  width: 82px;
}

.hero__link {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: #e3b873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: 260px;
  margin-left: 5px;
}

.hero__link::after {
  content: "";
  width: 2px;
  height: 50px;
  background-color: #e3b873;
  position: absolute;
  top: -18px;
  left: 112px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hero__wrapper {
  width: 100%;
  background-image: url("./assets/images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding-bottom: 205px;
}

.hero__main {
  max-width: 515px;
  margin-top: 185px;
  margin-left: 60px;
}

.hero__header {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__span {
  color: #e3b873;
}

.hero__text {
  margin-bottom: 40px;
  font-family: "FuturaBookC";
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.hero__button {
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  border: 0;
  width: 207px;
  height: 51px;
  display: inline-block;
}

.hero__button ~ .hero__button {
  margin-left: 20px;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.scroll-down {
  position: absolute;
  bottom: -50px;
  width: 250px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131313;
}

.button-scroll {
  position: relative;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
}

.button-scroll:hover,
.button-scroll:hover {
  color: #e3b873;
}

.button-scroll::before {
  content: "";
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 1.5px solid #e3b873;
  position: absolute;
  right: 0;
  top: 0;
}

.button-scroll::after {
  content: "";
  width: 10px;
  height: 7px;
  background-image: url("./assets/images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 11px;
  right: 10px;
}

@media (max-width: 1200px) {
  .navigation__phone {
    text-align: center;
  }
  .hero__left-line {
    display: none;
  }
  .scroll-down {
    bottom: 0;
  }
}

@media (max-width: 990px) {
  .hero__main {
    margin: 150px auto 0;
  }
  .scroll-down {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .hero__main {
    margin-top: 100px;
    max-width: 480px;
  }
  .hero__header {
    font-size: 28px;
    line-height: 38px;
  }
  .hero__wrapper {
    background-size: cover;
  }
}

@media (max-width: 500px) {
  .hero__wrapper {
    padding-bottom: 100px;
    padding: 0 15px;
    background-image: url("./assets/images/hero-bg-mobile.png");
  }
  .scroll-down {
    display: none;
  }
  .hero__wrapper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__button ~ .hero__button {
    margin-left: 0;
    margin-top: 25px;
  }
  .hero__button {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .navigation__phone__button {
    display: none;
  }
  .navigation__phone {
    width: 110px;
  }
  .navigation__phone__number {
    margin-right: 0;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    text-decoration: none;
  }
  .header-logo__text {
    font-size: 12px;
    line-height: 14px;
  }
  .hero__header {
    font-size: 23px;
    line-height: 132.83%;
  }
  .hero__text {
    font-size: 18px;
    line-height: 135.84%;
  }
  .hero__main {
    margin-top: 85px;
  }
  .hero__wrapper {
    padding-bottom: 75px;
  }
}

.projects {
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: #131313;
}

.projects .container {
  width: 100%;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.projects__wrapper {
  width: 35%;
  margin-right: 50px;
  padding-top: 65px;
}

.projects__header {
  position: relative;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
}

.projects__header::after {
  content: "";
  width: 92px;
  height: 1px;
  background-color: #e3b873;
  position: absolute;
  top: 55px;
  left: 160px;
}

.projects__text {
  margin-bottom: 35px;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
}

.projects__table {
  width: 500px;
  text-align: left;
}

.projects__table th {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #e3b873;
  vertical-align: top;
}

.projects__table tr {
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  vertical-align: top;
}

.projects__table tr:nth-child(2) {
  height: 70px;
}

.projects__nav {
  position: relative;
  width: 64px;
  padding: 0;
  margin: 0;
  margin-left: 65px;
  margin-top: 80px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__nav::before {
  content: "";
  width: 43px;
  height: 14px;
  background-image: url("./assets/images/projects-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 2px;
  left: -72px;
}

.projects__nav::after {
  content: "";
  width: 43px;
  height: 14px;
  background-image: url("./assets/images/projects-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 2px;
  right: -73px;
}

.projects__button {
  padding: 0;
  border: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.projects__button:hover:not(.projects__button_current), .projects__button:focus:not(.projects__button_current) {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  background-color: #e3b873;
}

.projects__button_current {
  background-color: #ffffff;
}

.gallery {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: calc(65% - 50px);
}

.gallery__nav {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__nav .gallery__item:nth-child(2) {
  margin-left: 60px;
}

.gallery__nav .gallery__item:last-child {
  margin-left: 100px;
}

.gallery__link {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 7px #131313;
          box-shadow: 0 7px #131313;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gallery__link:hover, .gallery__link:focus {
  color: #e3b873;
  -webkit-box-shadow: 0 6px #131313, 0 7px #e3b873;
          box-shadow: 0 6px #131313, 0 7px #e3b873;
}

.gallery__link_current {
  color: #e3b873;
  -webkit-box-shadow: 0 6px #131313, 0 7px #e3b873;
          box-shadow: 0 6px #131313, 0 7px #e3b873;
}

.gallery__photos {
  position: relative;
}

.gallery__photos picture {
  width: 679px;
  height: 482px;
}

.gallery__photos-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__photos-list li + li {
  margin-left: 20px;
}

.gallery__button-left {
  display: none;
}

.gallery__button-right {
  width: 55px;
  height: 55px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  background-image: url("./assets/images/gallery-photo-arrow-rigth-desk.svg");
  background-repeat: no-repeat;
  background-position: center center;
  top: 50%;
  left: 735px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1405px) {
  .gallery__button-right {
    left: 657px;
  }
}

@media (max-width: 1250px) {
  .projects .container {
    padding-right: 15px;
  }
  .gallery__second-photo {
    display: none;
  }
  .gallery-first-photo {
    width: 100%;
    height: auto;
    display: block;
  }
  .gallery__photos-list li + li {
    margin-left: 0;
  }
  .gallery__button-right {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .projects__wrapper {
    padding-top: 0;
  }
  .projects__header {
    margin-top: 0;
  }
}

@media (max-width: 1200px) {
  .projects__table {
    width: 400px;
  }
  .projects__table th {
    font-size: 16px;
  }
}

@media (max-width: 990px) {
  .projects .container {
    margin-left: 50px;
  }
  .projects__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .projects__nav {
    margin-top: 30px;
  }
}

@media (max-width: 885px) {
  .projects {
    padding-bottom: 30px;
  }
  .projects .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .projects__wrapper {
    width: 80%;
    margin-right: 0;
  }
  .projects__header {
    text-align: center;
  }
  .projects__header::after {
    display: none;
  }
  .projects__nav {
    position: absolute;
    bottom: 1%;
    left: 37%;
    z-index: 100;
  }
  .projects__table {
    margin-bottom: 20px;
  }
  .gallery {
    width: 90%;
    padding-bottom: 45px;
  }
  .gallery__nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .projects .container {
    margin-left: 0;
  }
  .projects__nav {
    display: none;
  }
  .gallery {
    padding-bottom: 0;
  }
}

@media (max-width: 375px) {
  .projects {
    padding-top: 35px;
  }
  .projects .container {
    padding-left: 17.5px;
    padding-right: 17.5px;
    margin-left: 0;
  }
  .projects__wrapper {
    width: 100%;
    margin-right: 0;
  }
  .projects__header {
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    letter-spacing: -0.07em;
  }
  .projects__header::after {
    display: none;
  }
  .projects__text {
    font-size: 14px;
    line-height: 158.48%;
    text-align: center;
    margin-bottom: 300px;
  }
  .projects__table {
    width: 100%;
  }
  .projects__table th,
  .projects__table tr {
    font-size: 14px;
    line-height: 135.84%;
  }
  .gallery {
    width: 100%;
    position: absolute;
    left: 17px;
    top: 180px;
  }
  .gallery__button-right {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 81%;
    background-image: url("./assets/images/gallery-arrow-next-mob.svg");
  }
  .gallery__button-left {
    width: 36px;
    height: 36px;
    border: 0;
    border-radius: 50%;
    position: absolute;
    left: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url("./assets/images/gallery-arrow-prev.svg");
    background-repeat: no-repeat;
    background-position: 12px center;
    display: block;
  }
  .gallery-first-photo {
    display: block;
    width: 100%;
  }
  .gallery__photos-list li + li {
    margin-left: 0;
  }
}

.control {
  position: relative;
  padding-bottom: 140px;
}

.control .container {
  max-width: 818px;
}

.control__header {
  margin: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  padding-bottom: 10px;
  background-color: #131313;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.control__camera-icon {
  padding-bottom: 256px;
  text-align: center;
  background-color: #131313;
}

.control__lines {
  display: inline-block;
  position: relative;
}

.control__lines::before {
  content: "";
  width: 32px;
  height: 1.5px;
  background-color: #e3b873;
  position: absolute;
  top: 14px;
  left: -43px;
}

.control__lines::after {
  content: "";
  width: 32px;
  height: 1.5px;
  background-color: #e3b873;
  position: absolute;
  top: 14px;
  right: -42px;
}

.control__video-wrapper {
  position: absolute;
  top: 98px;
}

.control__text {
  position: relative;
  max-width: 680px;
  margin: 0 auto;
  margin-top: 302px;
  margin-bottom: 90px;
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #131313;
}

.control__text::before {
  content: "";
  width: 55px;
  height: 2px;
  background-color: #e3b873;
  position: absolute;
  top: -34px;
  left: calc(50% - 27.5px);
}

.communication {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.communication__block {
  width: 230px;
  margin-top: 0;
  margin-bottom: 0;
}

.communication__block input {
  width: 100%;
  padding: 5px 0 7px;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.communication__block input::-webkit-input-placeholder {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  color: #131313;
}

.communication__block input:-ms-input-placeholder {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  color: #131313;
}

.communication__block input::-ms-input-placeholder {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  color: #131313;
}

.communication__block input::placeholder {
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 24px;
  color: #131313;
}

.communication__block + .communication__block {
  margin-left: 55px;
}

.communication__button {
  width: 200px;
  margin-left: 50px;
  border: 0;
}

.communication__label {
  display: block;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}

.communication__checkbox {
  margin-top: 33px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "FuturaBookC";
  font-size: 16px;
  line-height: 22px;
  color: #181818;
}

@media (max-width: 880px) {
  .control {
    padding-bottom: 30px;
  }
  .control__video-wrapper {
    left: calc(50%);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .control iframe {
    width: 470px;
    height: 260px;
  }
  .control__text {
    margin-top: 120px;
  }
  .communication {
    margin: 0 auto;
    max-width: 600px;
  }
  .communication__block {
    width: 90%;
    margin: 0 auto;
  }
  .communication__block + .communication__block {
    margin: 0 auto;
  }
  .communication__button {
    width: 70%;
    padding: 10px 0;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px) {
  .control {
    padding-bottom: 0;
    background-color: #131313;
  }
  .control__header {
    padding-bottom: 15px;
    font-size: 22px;
    line-height: 138.6%;
  }
  .control iframe {
    width: 340px;
    height: 190px;
  }
  .control__video-wrapper {
    top: 115px;
  }
  .control__text {
    margin-top: 45px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 169.8%;
    color: #ffffff;
  }
  .communication__label {
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  .communication__block input {
    background-color: #131313;
    border-bottom: 1px solid #ffffff;
  }
  .communication__block + .communication__block {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .communication__block input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 138.72%;
    color: #ffffff;
  }
  .communication__block input:-ms-input-placeholder {
    font-size: 18px;
    line-height: 138.72%;
    color: #ffffff;
  }
  .communication__block input::-ms-input-placeholder {
    font-size: 18px;
    line-height: 138.72%;
    color: #ffffff;
  }
  .communication__block input::placeholder {
    font-size: 18px;
    line-height: 138.72%;
    color: #ffffff;
  }
  .communication__checkbox {
    color: #ffffff;
    margin: 0;
    margin-bottom: 55px;
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    text-align: center;
  }
  .communication__button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: -17px;
  }
}

.header-section {
  margin-bottom: 8px;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.repair__camera-icon {
  text-align: center;
  margin-bottom: 30px;
}

.repair__lines {
  display: inline-block;
  position: relative;
}

.repair__lines::before {
  content: "";
  width: 32px;
  height: 1.5px;
  background-color: #e3b873;
  position: absolute;
  top: 14px;
  left: -43px;
}

.repair__lines::after {
  content: "";
  width: 32px;
  height: 1.5px;
  background-color: #e3b873;
  position: absolute;
  top: 14px;
  right: -42px;
}

.repair__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.repair__item {
  width: 31.3%;
}

.repair__item img {
  display: block;
  width: 100%;
  height: auto;
}

.repair__item + .repair__item {
  margin-left: 30px;
}

.repair__list-wrapper {
  padding-top: 20px;
  padding-left: 35px;
  padding-bottom: 55px;
  width: 85%;
  margin: 0 auto;
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.repair__list-header {
  margin: 0;
  margin-bottom: 10px;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.repair__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.repair__sublist li {
  position: relative;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.repair__sublist li::before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 10px;
  left: -11px;
  border-radius: 50%;
  background-color: #959595;
}

.repair__button {
  width: 228px;
  height: 54px;
  margin-left: 26px;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  -webkit-transform: translateY(-145px);
          transform: translateY(-145px);
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

@media (max-width: 1020px) {
  .repair__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .repair__item {
    width: 60%;
  }
  .repair__item + .repair__item {
    margin-left: 0;
  }
}

@media (max-width: 870px) {
  .repair__item {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .repair__item {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .repair {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .repair__item {
    width: 100%;
    height: 550px;
  }
  .repair__list-wrapper {
    margin-left: 0;
    padding-bottom: 22px;
    -webkit-transform: translateY(-143px);
            transform: translateY(-143px);
  }
  .repair__sublist li {
    font-size: 13px;
  }
  .repair__button {
    width: 190px;
    height: 40px;
    font-size: 15px;
    -webkit-transform: translateY(-162px);
            transform: translateY(-162px);
  }
}

.measurement .container {
  width: 100%;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.measurement__image img {
  display: block;
  width: 100%;
}

.measurement__wrapper {
  width: 37%;
  margin-left: auto;
  margin-top: 110px;
}

.measurement__form {
  position: relative;
  padding-bottom: 25px;
  background-color: #131313;
}

.measurement__block {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

.measurement__legend {
  display: block;
  padding-top: 20px;
  font-family: "FuturaDemiC";
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.measurement__label {
  display: block;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.measurement__input {
  width: 100%;
  padding: 7px 0;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-color: #131313;
}

.measurement__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.measurement__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.measurement__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.measurement__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.measurement__checkbox {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.measurement__button {
  width: 213px;
  height: 51px;
  display: block;
  margin-left: auto;
  margin-right: 10%;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  padding: 0;
}

.measurement__text {
  position: relative;
  margin-top: 40px;
  padding-left: 125px;
  font-family: "FuturaDemiC";
  font-size: 20px;
  line-height: 25px;
  color: #e3b873;
}

.measurement__text::before {
  content: "";
  width: 74px;
  height: 74px;
  position: absolute;
  top: -12px;
  left: 25px;
  background-image: url("/assets/images/measurement-icon.svg");
  background-repeat: no-repeat;
  background-position: center -10px;
}

@media (max-width: 1364px) {
  .measurement .container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .measurement__wrapper {
    width: 60%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .measurement__wrapper {
    width: 90%;
    margin-top: 40px;
  }
}

@media (max-width: 375px) {
  .measurement {
    display: none;
  }
}

.collection .container {
  position: relative;
  min-height: 864px;
  margin-top: 240px;
  margin-bottom: 100px;
  background-color: #131313;
  background-image: url("./assets/images/collection-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.collection__wrapper-header {
  width: 35%;
  padding-top: 130px;
}

.collection__header {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #e3b873;
  margin-left: 25px;
}

.collection__list {
  font-family: "Proximanova";
  margin-left: 25px;
  padding: 0;
  list-style: none;
}

.collection__list li + li {
  margin-top: 14px;
}

.collection__link {
  font-size: 20px;
  line-height: 34px;
  color: #ffffff;
  border-bottom: 1px solid transparent;
}

.collection__link_is-active {
  color: #e3b873;
  border-bottom: 1px solid #e3b873;
}

.collection__link:hover, .collection__link:focus {
  color: #e3b873;
  border-bottom: 1px solid #e3b873;
}

.collection__wrapper-gallery {
  position: absolute;
  top: -112px;
  right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collection__first-list, .collection__second-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.collection__second-list {
  margin-left: 40px;
}

.collection__first-list__item:first-child {
  padding-top: 70px;
  margin-bottom: 40px;
}

.collection__second-list__item:first-child {
  margin-bottom: 36px;
}

.collection__button-left, .collection__button-right {
  display: none;
}

.current-slider {
  display: none;
}

@media (max-width: 1270px) {
  .collection__wrapper-gallery {
    right: 15px;
  }
}

@media (max-width: 1070px) {
  .collection .container {
    min-height: auto;
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .collection__header {
    font-size: 24px;
  }
  .collection__first-list__item, .collection__second-list {
    display: none;
  }
  .collection__wrapper-gallery {
    position: relative;
    margin-top: 330px;
  }
  .collection__wrapper-header {
    padding-top: 0;
  }
  .collection__button-left, .collection__button-right {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    border: 0;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .collection__button-right {
    background-image: url("./assets/images/gallery-photo-arrow-rigth-desk.svg");
    background-repeat: no-repeat;
    background-position: center center;
    right: 5%;
  }
  .collection__button-left {
    background-image: url("./assets/images/arrow-slider-left-desk.svg");
    background-repeat: no-repeat;
    background-position: center center;
    left: 5%;
  }
  .current-slider {
    display: block;
  }
  .current-slider img {
    max-width: 600px;
    height: auto;
  }
}

@media (max-width: 880px) {
  .collection .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .collection__wrapper-header {
    width: 100%;
    text-align: center;
  }
  .collection__list {
    display: none;
  }
  .collection__wrapper-gallery {
    width: 90%;
    margin-top: 0;
    top: 0;
    right: 0;
  }
  .collection__first-list img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .collection .container {
    background-image: none;
  }
}

@media (max-width: 375px) {
  .collection {
    position: relative;
  }
  .collection .container {
    background-color: transparent;
    margin-top: 0;
    padding-bottom: 0;
    position: absolute;
    top: -66px;
    z-index: 1;
  }
  .collection__wrapper-gallery {
    width: 100%;
  }
  .collection__header {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 22px;
  }
  .collection__button-left {
    width: 36px;
    height: 36px;
    background-image: url("./assets/images/gallery-arrow-prev.svg");
    background-repeat: no-repeat;
    background-position: 12px center;
  }
  .collection__button-right {
    width: 36px;
    height: 36px;
    position: absolute;
    background-image: url("./assets/images/gallery-arrow-next-mob.svg");
  }
}

.design {
  margin-top: 150px;
  padding-bottom: 307px;
  position: relative;
}

.design::after {
  content: "";
  width: 100%;
  height: 456px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  background-color: #131313;
}

.design .header-icon {
  margin-bottom: 8px;
}

.design__text {
  width: 60%;
  margin: 0 auto 40px;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
}

.design__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design__item {
  position: relative;
}

.design__list-wrapper {
  padding-top: 20px;
  padding-left: 35px;
  padding-bottom: 55px;
  width: 81%;
  margin: 0 auto;
  position: absolute;
  top: 295px;
  left: 35px;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.23);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.23);
}

.design__list-header {
  margin: 0;
  margin-bottom: 10px;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.design__sublist {
  margin: 0;
  padding: 0 0 0 12px;
  list-style: none;
}

.design__sublist li {
  position: relative;
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.design__sublist li::before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 10px;
  left: -11px;
  border-radius: 50%;
  background-color: #959595;
}

.design__button {
  width: 228px;
  height: 54px;
  padding-left: 33px;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
  border: 0;
  position: absolute;
  bottom: -27px;
  left: 0;
}

@media (max-width: 1222px) {
  .design__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .design__item {
    width: 55%;
  }
  .design__item img {
    display: block;
    width: 100%;
  }
  .design__list-wrapper {
    width: 80%;
    top: 70%;
  }
  .design__item:first-child {
    margin-bottom: 50px;
  }
  .design__item:nth-child(2) {
    margin-bottom: 145px;
  }
}

@media (max-width: 1140px) {
  .design__item {
    width: 70%;
  }
}

@media (max-width: 890px) {
  .design__button {
    position: static;
  }
  .design__list-wrapper {
    padding-bottom: 10px;
    top: 60%;
  }
}

@media (max-width: 610px) {
  .design__item {
    width: 100%;
  }
}

@media (max-width: 610px) {
  .design__list-wrapper {
    top: 50%;
  }
}

@media (max-width: 375px) {
  .design {
    padding-top: 170px;
    background-color: #131313;
    padding-bottom: 190px;
  }
  .design .header-section {
    font-size: 22px;
    line-height: 138.6%;
    color: #ffffff;
  }
  .design .header-icon {
    margin-bottom: 16px;
  }
  .design__text {
    width: 100%;
    font-size: 15px;
    line-height: 135.84%;
    color: #ffffff;
  }
  .design__list-wrapper {
    top: 61%;
    left: 0;
    padding: 15px 0 22px 30px;
  }
  .design__button {
    width: 190px;
    height: 40px;
    font-size: 15px;
    position: absolute;
    bottom: -20px;
  }
  .design__item:first-child {
    margin-bottom: 110px;
  }
  .design__item:nth-child(2) {
    margin-bottom: 175px;
  }
  .design .mobile-hidden {
    display: none;
  }
}

.steps {
  margin-top: -1px;
  background-color: #131313;
  padding-bottom: 500px;
}

.steps .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__wrapper {
  max-width: 28%;
}

.steps__slogan {
  margin: 0;
  font-family: "FuturaDemiC";
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.steps__header {
  margin-top: 0;
  position: relative;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.steps__header::after {
  content: "";
  width: 92px;
  height: 1px;
  background-color: #E3B873;
  position: absolute;
  top: 55px;
  left: 195px;
}

.steps__number {
  margin-top: 52px;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
}

.steps__subheader {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  color: #e3b873;
}

.steps__text {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}

.steps__slider {
  max-width: 63%;
  position: relative;
}

.steps__list {
  margin-top: 30px;
  margin-bottom: 40px;
  list-style: none;
  padding-left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.steps__item {
  width: 140px;
}

.steps__link {
  opacity: 0.3;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.steps__link_active {
  opacity: 1;
}

.steps__link:focus, .steps__link:hover {
  opacity: 1;
}

.steps__position {
  position: relative;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.steps__position::after {
  content: "";
  width: 20px;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #e3b873;
  position: absolute;
}

.steps__name {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.steps__slider-fotos {
  list-style: none;
  padding-left: 0;
}

.steps__slider-item img {
  display: block;
  width: 100%;
  height: auto;
}

.steps__nav {
  position: absolute;
  bottom: 110px;
  left: -50%;
}

.steps__nav-list {
  width: 145px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__nav-list::before {
  content: "";
  width: 43px;
  height: 14px;
  background-image: url("./assets/images/projects-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 2px;
  left: -72px;
}

.steps__nav-list::after {
  content: "";
  width: 43px;
  height: 14px;
  background-image: url("./assets/images/projects-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 2px;
  right: -73px;
}

.steps__nav-button {
  padding: 0;
  border: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.steps__nav-button:hover:not(.steps__nav-button_current), .steps__nav-button:focus:not(.steps__nav-button_current) {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  background-color: #e3b873;
}

.steps__nav-button_current {
  background-color: #ffffff;
}

@media (max-width: 1200px) {
  .steps__nav {
    left: -45%;
  }
}

@media (max-width: 1120px) {
  .steps {
    padding-bottom: 0;
  }
}

@media (max-width: 1100px) {
  .steps__nav {
    bottom: 70px;
  }
}

@media (max-width: 990px) {
  .steps {
    padding-bottom: 30px;
  }
  .steps__nav {
    bottom: 0;
    position: static;
  }
  .steps__nav-list {
    position: relative;
  }
}

@media (max-width: 860px) {
  .steps .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps__wrapper, .steps__slider {
    width: 100%;
  }
  .steps__slider {
    padding-bottom: 40px;
  }
  .steps__wrapper {
    text-align: center;
  }
  .steps__header, .steps__slogan {
    -webkit-transform: none;
            transform: none;
  }
  .steps__header {
    margin-bottom: 0;
  }
  .steps__header::after {
    display: none;
  }
  .steps__number {
    margin-top: 15px;
  }
  .steps__list {
    text-align: center;
  }
  .steps__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .steps__nav {
    position: relative;
    bottom: initial;
    left: initial;
  }
  .steps__nav-list {
    position: relative;
    margin: 0 auto;
  }
  .steps__item {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 700px) {
  .steps__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .steps {
    display: none;
  }
}

.team {
  position: relative;
  height: 500px;
}

.team .container {
  position: relative;
  top: -400px;
}

.team .header-section {
  margin-top: 0;
  margin-bottom: 12px;
  color: #ffffff;
}

.team .header-icon {
  margin-bottom: 20px;
  text-align: center;
}

.team .header__lines {
  display: inline-block;
  position: relative;
}

.team .header__lines::before {
  content: "";
  width: 32px;
  height: 1.5px;
  background-color: #e3b873;
  position: absolute;
  top: 14px;
  left: -43px;
}

.team .header__lines::after {
  content: "";
  width: 32px;
  height: 1.5px;
  background-color: #e3b873;
  position: absolute;
  top: 14px;
  right: -42px;
}

.team__slogan {
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 70px;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}

.team__list {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item {
  position: relative;
}

.team__item:first-child::before {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  top: -35px;
  left: -35px;
  background: #e3b873;
  -webkit-box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
  background-image: url("./assets/images/team-icon1.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.team__item:nth-child(2)::before {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  top: -35px;
  left: -35px;
  background: #e3b873;
  -webkit-box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
  background-image: url("./assets/images/team-icon2.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.team__item:last-child::before {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  top: -35px;
  left: -35px;
  background: #e3b873;
  -webkit-box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
  background-image: url("./assets/images/team-icon3.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.team__name {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 20px;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #131313;
  background-color: #ffffff;
}

.team__position {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-family: "FuturaBookC";
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #959595;
  background-color: #ffffff;
}

.team__experience {
  margin-top: 0;
  padding: 12px 20px;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e3b873;
}

.team__wrapper {
  position: absolute;
  width: 85%;
  bottom: -65px;
  left: 20px;
  background-color: #ffffff;
}

.team__text {
  position: relative;
  max-width: 560px;
  margin: 120px auto 90px;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}

.team__text::before {
  content: "";
  width: 55px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #e3b873;
}

@media (max-width: 1120px) {
  .team {
    padding-top: 20px;
    height: auto;
  }
  .team .container {
    top: initial;
  }
  .team .header-section, .team__slogan {
    color: #131313;
  }
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team__item {
    width: 35%;
  }
  .team__item img {
    display: block;
    width: 100%;
    height: auto;
  }
  .team__item:last-child {
    margin-top: 100px;
  }
  .team__item:first-child {
    margin-right: 45px;
  }
  .team__wrapper {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 800px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team__item {
    width: 45%;
    margin: 0;
  }
  .team__item:first-child {
    margin-right: 0;
  }
  .team__item:last-child {
    margin-top: 0;
  }
  .team__item + .team__item {
    margin-top: 100px;
  }
}

@media (max-width: 800px) {
  .team__item {
    width: 65%;
  }
}

@media (max-width: 375px) {
  .team {
    background-color: #131313;
  }
  .team .header-section, .team__slogan {
    color: #ffffff;
  }
  .team .header-section {
    font-size: 22px;
    line-height: 30px;
  }
  .team__slogan {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 375px) {
  .team {
    padding-bottom: 100px;
  }
  .team__list {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .team__item {
    width: 90%;
  }
  .team__item + .team__item {
    margin-top: 165px;
  }
  .team__experience {
    margin-bottom: 0;
  }
  .team__text {
    display: none;
  }
}

.clients {
  padding-bottom: 350px;
}

.clients .header-section {
  margin-bottom: 13px;
}

.clients .header-icon {
  margin-bottom: 10px;
}

.clients__description {
  max-width: 350px;
  margin: 0 auto 40px;
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #131313;
}

.clients__list {
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(375px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  grid-column-gap: 4%;
}

.clients__item {
  position: relative;
  margin-bottom: 40px;
  padding: 20px 30px 85px 20px;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.clients__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__name {
  width: 180px;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #181818;
}

.clients__image {
  margin-right: 20px;
}

.clients__comment {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 27px;
  color: #959595;
}

.clients__thing {
  background-color: #e3b873;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -27px;
}

.clients__metres {
  position: relative;
  padding: 15px 25px 15px 65px;
  border-right: 1px solid #ffffff;
}

.clients__metres::before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  left: 17px;
  top: 12px;
  background-image: url("./assets/images/clients-thing-icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.clients__days {
  position: relative;
  padding: 15px 25px 15px 65px;
}

.clients__days::before {
  content: "";
  width: 33px;
  height: 32px;
  position: absolute;
  left: 17px;
  top: 12px;
  background-image: url("./assets/images/clients-thing-icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (max-width: 1000px) {
  .clients {
    padding-bottom: 0;
  }
}

@media (max-width: 375px) {
  .clients {
    display: none;
  }
}

.wrapper-form {
  position: absolute;
  width: 883px;
  top: -221px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  background-color: #181818;
}

.form {
  max-width: 520px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: "FuturaBookC";
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__header {
  width: 100%;
  margin: 0 auto 45px;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.form__label {
  display: block;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.form__input {
  width: 100%;
  padding: 0 0 7px 0;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-color: #181818;
  color: #ffffff;
}

.form__input::-webkit-input-placeholder {
  color: #ffffff;
}

.form__input:-ms-input-placeholder {
  color: #ffffff;
}

.form__input::-ms-input-placeholder {
  color: #ffffff;
}

.form__input::placeholder {
  color: #ffffff;
}

.form__block-name, .form__block-phone {
  width: 45%;
  margin-top: 45px;
}

.form__block-phone {
  margin-left: auto;
}

.form__block-question {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 48px;
}

.form__checkbox {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.form__button {
  width: 200px;
  height: 51px;
  margin: 0 auto;
  border: 0;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts {
  background-color: #1D1D1D;
}

.contacts .container {
  position: relative;
  height: 973px;
  background-image: url("./assets/images/map-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__address {
  max-width: 590px;
  margin: 0 auto 20px;
  padding-top: 300px;
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873;
}

.contacts__tel {
  color: #e3b873;
}

.contacts__socials {
  margin: 0 auto 40px;
  width: 72px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__socials a {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #e3b873;
}

.contacts__socials a:hover {
  background-color: #e3b873;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contacts__email {
  background-image: url("./assets/images/contacts-email.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts__instagram {
  background-image: url("./assets/images/contacts-instagram.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts__map {
  width: 80%;
  margin: 0 auto;
}

.contacts__map img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1000px) {
  .wrapper-form {
    position: static;
    -webkit-transform: initial;
            transform: initial;
    width: 85%;
  }
  .form {
    width: 90%;
  }
  .contacts {
    padding-top: 30px;
  }
  .contacts__address {
    padding-top: 0;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .wrapper-form {
    width: 100%;
  }
  .form__block-name,
  .form__block-phone {
    width: 100%;
  }
  .form__button {
    width: 70%;
  }
}

@media (max-width: 375px) {
  .contacts {
    padding-top: 0;
    background-color: #131313;
  }
  .contacts .container {
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__address {
    margin-top: 0;
    font-size: 18px;
    line-height: 25px;
  }
  .contacts__address span {
    display: block;
  }
  .contacts__map {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .wrapper-form {
    background-color: #131313;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .form {
    width: 100%;
  }
  .form__block-name {
    margin-top: 0;
  }
  .form__input {
    background-color: #131313;
  }
  .form__button {
    width: 100%;
    border-radius: 0;
  }
  .form__checkbox {
    margin-bottom: 60px;
  }
}

.footer {
  background-color: #131313;
}

.footer .wrapper {
  width: 100%;
  max-width: 1440px;
  height: 134px;
  padding: 23px 82px;
  margin: 0 auto;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 375px) {
  .header .wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 56px;
    padding: 0 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-logo__text,
  .navigation__phone__number {
    font-size: 12px;
  }
  .footer {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    display: none;
  }
  .header .wrapper {
    padding: 0 15px;
  }
  .footer .wrapper {
    padding: 0 15px;
  }
}
/*# sourceMappingURL=style.css.map */